/* 默认按钮样式 */

.north__default_btn {
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  display: flex;
  font-size: 24px;
  height: 48px;
  justify-content: center;
  width: 160px;
  position: relative;
  box-sizing: border-box;
}

/* 渐变按钮样式 */

.north__gradient_btn {
  background-size: 200% 600%;
  animation: gradient_btn_animate infinite 8s ease-in-out;
}

@keyframes gradient_btn_animate {
  0% {
    background-position: 20% 70%;
  }
  50% {
    background-position: 70% 20%;
  }
  75% {
    background-position: 80% 60%;
  }
  100% {
    background-position: 20% 70%;
  }
}

/* 进度按钮样式 */

.north__progress_btn {
  background-size: 200% 100%;
  background-position: 100% 0%;
  transition: all 1s ease;
}

.north__progress_btn:hover {
  background-position: 0 0;
}

/* 流光按钮样式 */
.north__meteor_btn {
  border-width: 0 !important;
}

.north__meteor_btn::before,
.north__meteor_btn::after {
  content: '';
  border: 2px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  border-radius: inherit;
}

.north__meteor_btn::before {
  top: 0;
  left: 0;
}

.north__meteor_btn::after {
  bottom: 0;
  right: 0;
}

.north__meteor_btn:hover::before,
.north__meteor_btn:hover::after {
  width: 100%;
  height: 100%;
}

.north__meteor_btn:hover::before {
  border-top-color: inherit;
  border-right-color: inherit;
  transition: width 0.2s ease-out, height 0.2s ease-out 0.2s;
}

.north__meteor_btn:hover::after {
  transition: border-color 0s ease-out 0.4s, width 0.2s ease-out 0.4s,
    height 0.2s ease-out 0.6s;
  border-bottom-color: inherit;
  border-left-color: inherit;
}

/* 半流光按钮样式 */
.north__meteorHalf_btn::before,
.north__meteorHalf_btn::after {
  content: '';
  border: 2px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  border-radius: inherit;
}

.north__meteorHalf_btn::before {
  top: 0;
  left: 0;
}

.north__meteorHalf_btn::after {
  bottom: 0;
  right: 0;
}

.north__meteorHalf_btn:hover::before,
.north__meteorHalf_btn:hover::after {
  width: 100%;
  height: 100%;
}

.north__meteorHalf_btn:hover::before {
  border-top-color: inherit;
  border-right-color: inherit;
  transition: width 0.2s ease-out, height 0.2s ease-out 0.2s;
}

.north__meteorHalf_btn:hover::after {
  transition: border-color 0s ease-out, width 0.2s ease-out,
    height 0.2s ease-out 0.2s;
  border-bottom-color: inherit;
  border-left-color: inherit;
}

/* 摇晃按钮样式 */

.north__shake_btn {
  animation: shake_animate 1s infinite ease-out;
}

@keyframes shake_animate {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  10% {
    -webkit-transform: translate3d(-3%, 0, 0) rotate(-5deg);
    transform: translate3d(-3%, 0, 0) rotate(-5deg);
  }

  20% {
    -webkit-transform: translate3d(2%, 0, 0) rotate(3deg);
    transform: translate3d(2%, 0, 0) rotate(3deg);
  }

  30% {
    -webkit-transform: translate3d(-1%, 0, 0) rotate(-3deg);
    transform: translate3d(-1%, 0, 0) rotate(-3deg);
  }

  40% {
    -webkit-transform: translate3d(1%, 0, 0) rotate(2deg);
    transform: translate3d(1%, 0, 0) rotate(2deg);
  }

  50% {
    -webkit-transform: translate3d(-1%, 0, 0) rotate(-1deg);
    transform: translate3d(-1%, 0, 0) rotate(-1deg);
  }

  60% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.north__glass_btn {
  overflow: hidden;
}

/* 玻璃按钮样式 */
.north__glass_btn:hover::before {
  content: '';
  display: inline-block;
  background-color: #ffffff;
  transform: rotate(-45deg);
  position: absolute;
  opacity: 0;
  animation: glass_animate 0.8s ease-in-out;
}

.north__glass_btn::before {
  height: 150%;
  top: -25%;
}

@keyframes glass_animate {
  0% {
    width: 6%;
    left: 0;
    opacity: 0.8;
  }
  100% {
    width: 12%;
    left: 150%;
    opacity: 0;
  }
}
